{% extends "__base__.html" %}

{% block title %}Nowy przepis{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="row border-bottom border-3">
            <div class="col"><h3 class="color-header text-uppercase">Usuwanie
                przepisu</h3></div>
            <div class="col d-flex justify-content-end mb-2"><a
                    href="http://127.0.0.1:8000/recipe/list"
                    class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
            </div>
        </div>
<div class="dashboard-content border-dashed p-3 m-4 view-height">
    <div class="mt-4 ml-4 mr-4">
        <div class="row border-bottom border-3">
            <div class="col">
                <h3 class="color-header">Czy na pewno chcesz usunąć ten przepis?</h3>
            </div>
            <div class="col d-flex justify-content-end mb-2">
                <button type="submit"
                        class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">
                    Usuń przepis
                </button>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock content %}